body {
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  background: #11131F;
}

#viewDiv {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.axis text {
  font-size: 14px;
  color: #C9C8C7;
}
.chartTitle {
  font-size: 24px;
  fill: #C9C8C7;
  font-weight: 300;
  text-anchor: middle; 
}
.axis .title {
  font-size: 24px;
  fill: #C9C8C7;
  font-weight: 300;
  text-anchor: middle;
}
.axis path,
.axis line {
  fill: none;
  stroke: #C9C8C7;
  font-weight: 300;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #C9C8C7;
  shape-rendering: crispEdges;
}

.y.axis path {
  stroke-width: 0px;
}
.axis .tick line {
  fill: none;
  stroke: #C9C8C7;
  font-weight: 300;
  shape-rendering: crispEdges;  
}

.axis .tick text {
  fill: #C9C8C7;
  font-weight: 300;
  shape-rendering: crispEdges;  
}

.nav .area {
  fill: lightgrey;
  stroke-width: 0;
}
.nav .line {
  fill: none;
  stroke: darkgrey;
  stroke-width: 1px;
}
.chartBackground {
  fill: #11131F;
}
.navBackground {
  fill: #11131F;
}
.viewport {
  stroke: grey;
  fill: black;
}
.viewport .extent {
  fill: #1892F4;
  fill-opacity: 0.1;
  stroke-width: 0.5;
}